body{
    background-color: #bed2e0;
    color:#2e4054;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{margin: 0px;}
.tasky{
   background-color: aliceblue;
}
table{
    width:100%;
    border-collapse: collapse;
}
table tr {
    border-bottom: 1px solid #2e4054;
}
table td, table th{
    padding: 4px 10px;
}
.no_pad{
    padding: 4px 0px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table th{
    text-align: left;
    background-color: #2e4054;
    color: #bed2e0;
}
.modal{
    /*display: none;  Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content{
    background-color: #bed2e0;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;  
}
.grey-fill{
   background-color: #fadbd0;
   width: 80%;
   border-radius: 5px;
}
.col80{
   width: 85%;
}
.col20{
   width: 15%;
   text-align: right;
}
.col50{
   width: 50%;
}
.float_left{
   float: left;
}
.delete{
    color: #cc274c;
}
.centered{
    text-align: center;
}
.close {
    position: absolute;
    top: 11%;
    color: #2e4054;
    right: 25%;
    font-size: 28px;
    font-weight: bold;
}
input[type="text"],input[type="range"]{
    width: 95%;
    padding: 5px;
}
input[type="button"]{
   width: 50%;
}
#top_msg{
    /*background-color: #ffeea6;*/
    display: none;
    padding: 10px;
}
.pad10{padding: 10px;}
#StatBar{
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #bed2e0;
    text-align: center;
}
.done_task,.doing_task{
    color: #bed2e0;
}
.done_task{
    background-color: green;
}
.doing_task{
   background-color: #cc274c;
}
.todo_task{
   /*background-color: #2e4054;*/
   color:#2e4054;
}
datalist{
    display:flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}
